body{
    background-color: black;
}

.name {
    background-color: none;
    display: flex;
    justify-content: flex-end; /* Align to the right */
    align-items: center; /* Center vertically */
    font-size: 5rem;
    font-weight: 200;
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    
  }



.nameword1{
    color:orangered
}

.nameword2{
    color:orange
}

.nameclick{
    width: 500px;
    height: 500px;
    background-color: white;
}